/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;700;800&family=Satisfy&display=swap');

/* Variable CSS */

:root {
    --body-font: 'Blinker', sans-serif;
    --handwriting-font: 'Satisfy', cursive;
    --primary: #FFCB49;
    --gradient-primary: linear-gradient(to right, #FFD46A, #E2B033);
    --secondary: #2A154C;
    --white: #FFFFFF;
    --bg-color: 32, 8, 59;
    --bg-tranparent: rgba(255, 255, 255, 0.07);
    --border-color: rgba(255, 255, 255, 0.1);
    --text-color: #D2C9E1;
    --gutter-x: 2rem;
    --base-font-size: 1rem;
    --container: 74.75rem;
}

@media (max-width: 767px) {
     :root {
        --gutter-x: 1rem;
    }
}


/* Base CSS */

*,
 ::before,
 ::after {
    box-sizing: border-box;
    outline: 0 none;
    letter-spacing: 0.53px;
}

html {
    scroll-behavior: smooth;
    font-size: var(--base-font-size);
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
    font-weight: 400;
    color: var(--white);
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background-color: rgba(var(--bg-color), 1);
    background-image: url(../images/bg-desktop.webp);
    background-position: center center;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    margin: 0;
    font-family: var(--body-font);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

section {
    position: relative;
}


/* Utility CSS */

.h3 {
    font-size: 2.063rem;
    font-weight: 700;
    color: var(--primary);
    line-height: 2.5rem;
    letter-spacing: 1.09px;
}

.h3 span {
    color: var(--white);
}

.h6 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.625rem;
    margin-bottom: 0.125rem;
}

.container {
    width: 100%;
    max-width: var(--container);
    margin: 0 auto;
    padding-left: var(--gutter-x);
    padding-right: var(--gutter-x);
    position: relative;
}

.btn {
    border-radius: 50px;
    color: var(--secondary);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn-gradient {
    background-color: var(--primary);
    background-image: var(--gradient-primary);
    transition: all .3 ease-in-out;
}

.btn-gradient:active {
    transform: scale(0.95);
}

.btn-md {
    font-size: 0.813rem;
    letter-spacing: 2px;
    padding: 0.875rem 1.625rem;
}

.btn-lg {
    font-size: 1rem;
    letter-spacing: 2.66px;
    padding: 1.063rem 3rem;
}

.btn-sm {
    font-size: 0.688rem;
    letter-spacing: 1.86px;
    padding: 0.563rem 1.375rem;
}

.fade-in-down {
    opacity: 0;
    transform: translateY(-40px);
}

.fade-in {
    opacity: 0;
    transform: scale(0);
}

.backdrop-blur {
    background-image: url(../images/blur.webp);
    border: 1px solid var(--border-color);
}


/* if backdrop support: very transparent and blurred */

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .backdrop-blur {
        background-image: none;
        background-color: var(--bg-tranparent);
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        border: 1px solid var(--border-color);
    }
}


/* Header CSS */

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.688rem 0;
}

.nav li {
    flex: 1;
    display: flex;
}

.nav li:nth-child(1) {
    justify-content: flex-start;
}

.nav li:nth-child(2) {
    justify-content: center;
}

.nav li:nth-child(3) {
    justify-content: flex-end;
}

.nav-link {
    font-weight: 600;
    color: var(--white);
    display: inline-block;
}

.logo {
    display: flex;
    align-items: center;
    -moz-column-gap: 1.125rem;
    column-gap: 1.125rem;
}

.logo img {
    width: 2.313rem;
}

.logo span {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.79px;
    color: var(--white);
}


/* Hero Section CSS */

.hero-section {
    padding-top: 10.625rem;
    padding-bottom: 10.625rem;
}

.hero-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-block span {
    font-family: var(--handwriting-font);
    font-size: 1.375rem;
    letter-spacing: 0.72px;
    display: block;
    margin-bottom: 1.063rem;
}

.hero-block h1 {
    font-size: 4rem;
    font-weight: 900;
    max-width: 42.563rem;
    line-height: 3.938rem;
    margin-bottom: 1.563rem;
}

.hero-block p {
    font-size: 1.063rem;
    color: var(--text-color);
    max-width: 33.5rem;
    line-height: 1.563rem;
    margin-bottom: 2.375rem;
}

.hero-bg {
    background-color: var(--bg-tranparent);
    position: absolute;
    border: 1px solid var(--border-color);
    border-radius: 0 0 12.625rem 12.625rem;
    z-index: -1;
    max-width: 90rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
}

.hero-stats {
    max-width: 46.188rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    border-radius: 1.875rem;
    padding: 2.188rem;
    width: 100%;
    margin-bottom: -14.75rem;
    margin-top: 6.313rem;
}

.hero-stats>div {
    flex: 1;
    position: relative;
}

.hero-stats>div:nth-child(1)::after {
    position: absolute;
    right: 0;
    content: '';
    background-color: var(--border-color);
    width: 1px;
    height: 3.75rem;
    top: 0;
}

.nav-link-xs {
    display: none;
}

.coin-1 {
    position: absolute;
    left: 6.25rem;
    top: 12.5rem;
}

.coin-1 img {
    width: 7.375rem;
}

.coin-2 {
    position: absolute;
    right: 7.5rem;
    top: 6.25rem;
}

.coin-2 img {
    width: 4.25rem;
}


/* Account Section CSS */

.account-section {
    padding-top: 9.375rem;
}

.section-title {
    text-align: center;
    margin-bottom: 2.5rem;
}

.section-title h2 {
    font-size: 2.063rem;
    font-weight: 700;
    letter-spacing: 1.09px;
    line-height: 2.5rem;
    margin-bottom: 0.313rem;
}

.section-title p {
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.563rem;
    margin-bottom: 0.625rem;
}

.account-block {
    width: 100%;
    max-width: 52.125rem;
    border-radius: 2.813rem;
    margin: 0 auto;
    padding: 2.813rem 4.125rem 3.125rem 4.125rem;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-tranparent);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border: 1px solid var(--border-color);
}

.account-block li {
    display: flex;
}

.account-block li>div:first-child {
    flex: 3;
    position: relative;
}

.account-block li>div:first-child::after {
    position: absolute;
    right: 5rem;
    content: '';
    background-color: var(--border-color);
    width: 1px;
    height: 3.75rem;
    top: 0;
}

.account-block li>div:nth-child(2) {
    flex: 2;
}

.account-block li:first-child {
    padding-bottom: 2.188rem;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 2.188rem;
}

.claim {
    display: flex;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    align-items: center;
}

.coin-3 {
    position: absolute;
    left: 5.625rem;
    bottom: -3.125rem;
}

.coin-3 img {
    width: 3rem;
}

.coin-4 {
    position: absolute;
    right: 1.25rem;
    bottom: 2.5rem;
}

.coin-4 img {
    width: 6.25rem;
}


/* Staking ETH CSS */

.staking-section {
    padding-top: 5rem;
    padding-bottom: 6.25rem;
}

.staking-block {
    padding: 2.938rem 3.938rem 4.375rem;
    border-radius: 4.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--bg-tranparent);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border: 1px solid var(--border-color);
}

.staking-block h2 {
    font-size: 3.75rem;
    line-height: 4.5rem;
    letter-spacing: 1.97px;
    font-weight: 700;
    color: var(--primary);
    text-align: center;
    margin-bottom: 0.25rem;
}

.staking-block h2 span {
    color: var(--white);
}

.staking-block h6 {
    font-size: 1.125rem;
    line-height: 1.625rem;
    letter-spacing: 0.59px;
    text-align: center;
    font-weight: 600;
}

.staking-block h6 span {
    color: var(--primary);
}

.slide-block {
    margin-top: 2.813rem;
    width: 100%;
}


/* The slider itself */

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.625rem;
    background: var(--bg-tranparent);
    outline: none;
    transition: opacity .2s;
    border-radius: 0.625rem;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.75rem;
    border-radius: 50%;
    height: 1.75rem;
    background: url(../images/thumb.svg);
    background-size: 1.75rem 1.75rem;
    cursor: pointer;
    border: none;
}

.slider::-moz-range-thumb {
    width: 1.75rem;
    border-radius: 50%;
    height: 1.75rem;
    background: url(../images/thumb.svg);
    background-size: 1.75rem 1.75rem;
    cursor: pointer;
    border: none;
}

input[type="range"]::-moz-range-progress {
    background: var(--gradient-primary);
    height: 0.625rem;
    border-radius: 0.625rem;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .slider {
        overflow: hidden;
    }
    .slider::-webkit-slider-thumb {
        background: none;
        width: 0.5rem;
        height: 0.625rem;
        background-color: #fff;
        box-shadow: -31.25rem 0 0 31.25rem var(--primary), 2px 0 0 0 var(--white);
    }
}

.slide-block>div {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    letter-spacing: 2.36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0.188rem;
}

.input-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.staking-block h5 {
    font-size: 1.063rem;
    font-weight: 600;
}

.input-group {
    width: 35.5rem;
    display: flex;
    position: relative;
}

.input {
    background-color: var(--bg-tranparent);
    border: 1px solid var(--border-color);
    color: #fff;
    font-weight: 600;
    width: 100%;
    border-radius: 2.5rem;
    font-size: 0.938rem;
    height: 3.375rem;
    padding: 0 13.125rem 0 2rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}

.input-group .btn {
    position: absolute;
    right: 0;
}

.input-group .btn-max {
    position: absolute;
    right: 10rem;
    font-size: 0.938rem;
    font-weight: 700;
    letter-spacing: 0.158rem;
    text-transform: uppercase;
    color: var(--primary);
    padding: 0.375rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: 0.75rem;
}

.input::-webkit-input-placeholder {
    color: var(--white);
    opacity: 0.7;
}

.input:-ms-input-placeholder {
    color: var(--white);
    opacity: 0.7;
}

.input::-moz-placeholder {
    color: var(--white);
    opacity: 0.7;
}

.input::-ms-input-placeholder {
    color: var(--white);
    opacity: 0.7;
}

.input::placeholder {
    color: var(--white);
    opacity: 0.7;
}

.btn-work {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    -moz-column-gap: 0.438rem;
    column-gap: 0.438rem;
    font-size: 0.938rem;
    color: var(--white);
    font-weight: 600;
    position: absolute;
    right: 3.125rem;
    top: 2.25rem;
    cursor: pointer;
}

.btn-work>img {
    position: relative;
    top: 1px;
    width: 1.375rem;
}


/* Footer CSS */

footer {
    position: relative;
}

.footer-bg {
    background-color: var(--bg-tranparent);
    position: absolute;
    inset: 0 0 0 0;
    border: 1px solid var(--border-color);
    border-radius: 12.625rem 12.625rem 0 0;
    z-index: -1;
    max-width: 90rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
}

footer {
    padding: 6.25rem 3.938rem 0;
}

.referral-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5.5rem;
}

footer .section-title {
    text-align: left;
}

.note {
    margin-top: 1.625rem;
    color: var(--text-color);
    font-size: 0.938rem;
}

.referral-block .input-group {
    width: 29.125rem;
}

.rewards {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -6.25rem;
}

.rewards>img {
    margin-bottom: 1.5rem;
    width: 4.5rem;
}

.rewards>h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 0.313rem;
    font-weight: 600;
}

.rewards>h3 {
    font-size: 2.813rem;
    font-weight: 700;
    color: var(--primary);
    line-height: 3.375rem;
}

.rewards>h3 span {
    color: var(--white);
}

.copyright {
    padding: 2rem 0;
    text-align: center;
    font-size: 0.875rem;
    border-top: 1px solid var(--border-color);
    color: var(--text-color);
}

.coin-6 {
    display: none;
}


/* Modal CSS */

.backdrop {
    inset: 0 0 0 0;
    background-color: rgba(var(--bg-color), 0.8);
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s all ease-in-out;
}

.backdrop.show {
    opacity: 1;
    visibility: visible;
}

.modal {
    background-image: url(../images/modal-desktop.webp);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    padding: 3.438rem 5.875rem 4.438rem;
    border: 1px solid var(--border-color);
    border-radius: 2.813rem;
    transition: 0.2s all ease-in-out;
    transform: translateY(-50px) scale(0.7);
}

.backdrop.show .modal {
    transform: translateY(0px) scale(1);
}

.flow-block {
    display: flex;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
}

.flow-unit {
    width: 12.063rem;
    height: 11.75rem;
    background-color: var(--bg-tranparent);
    border: 1px solid var(--border-color);
    padding: 1.563rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1.875rem;
}

.flow-unit h3 {
    font-size: 1.125rem;
}

.modal-button {
    text-align: center;
}

@media (max-width: 1400px) {
     :root {
        --base-font-size: 0.9rem;
    }
}

@media (max-width: 1200px) {
     :root {
        --base-font-size: 0.8rem;
    }
    .footer-bg {
        border-radius: 9.625rem 9.625rem 0 0;
    }
}

@media (max-width: 900px) {
     :root {
        --base-font-size: 0.7rem;
    }
}

@media (max-width: 767px) {
     :root {
        --base-font-size: 1rem;
    }
    body {
        background-image: url(../images/bg-mobile.webp);
    }
    .nav li:nth-child(1) {
        display: none;
    }
    .logo img {
        width: 32px;
    }
    .logo span {
        font-size: 20px;
    }
    .logo {
        display: flex;
        align-items: center;
        -moz-column-gap: 7px;
        column-gap: 7px;
    }
    .nav li:nth-child(2) {
        justify-content: flex-start;
    }
    .btn-md {
        font-size: 11px;
        letter-spacing: 1.54px;
        padding: 11px 22px;
    }
    .nav {
        padding: 23px 0;
    }
    .hero-section {
        padding-top: 122px;
        padding-bottom: 100px;
    }
    .hero-block span {
        font-size: 17px;
        margin-bottom: 9px;
    }
    .hero-block h1 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .hero-block p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .btn-lg {
        font-size: 12px;
        letter-spacing: 2.66px;
        padding: 16px 36px;
    }
    .nav-link-xs {
        display: block;
        font-size: 14px;
        color: var(--text-color);
        margin-top: 14px;
    }
    .hero-bg {
        border-radius: 0 0 82px 82px;
    }
    .hero-stats {
        max-width: 241px;
        background-image: url(../images/blur-sm.webp);
        border-radius: 30px;
        padding: 33px 33px 37px;
        margin-bottom: -240px;
        margin-top: 41px;
        flex-direction: column;
    }
    .h6 {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 0;
    }
    .h3 {
        font-size: 27px;
        line-height: 32px;
    }
    .hero-stats>div:first-child {
        margin-bottom: 21px;
        padding-bottom: 21px;
    }
    .hero-stats>div:nth-child(1)::after {
        right: auto;
        width: 60px;
        height: 1px;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .section-title h2 {
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 2px;
    }
    .section-title p {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 0;
    }
    .section-title {
        text-align: center;
        margin-bottom: 30px;
    }
    .account-section {
        padding-top: 193px;
    }
    .account-block {
        max-width: 295px;
        border-radius: 30px;
        padding: 30px;
    }
    .account-block li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .account-block li>div {
        padding-bottom: 23px;
        margin-bottom: 23px;
        position: relative;
    }
    .account-block li>div:first-child {
        flex: 1;
    }
    .account-block li:first-child {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0;
    }
    .claim {
        row-gap: 23px;
        align-items: center;
        flex-direction: column;
    }
    .account-block li:nth-child(2)>div:nth-child(2) {
        padding-bottom: 0;
    }
    .account-block li>div:first-child::after {
        position: absolute;
        right: auto;
        content: '';
        background-color: var(--border-color);
        width: 60px;
        height: 1px;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .account-block li>div:nth-child(2)::after {
        position: absolute;
        right: auto;
        content: '';
        background-color: var(--border-color);
        width: 60px;
        height: 1px;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .account-block li:nth-child(2)>div:nth-child(2)::after {
        display: none;
    }
    .coin-1 {
        left: 10px;
        top: auto;
        bottom: -20px;
    }
    .coin-1 img {
        width: 80px;
    }
    .coin-2 {
        right: 20px;
        top: auto;
        bottom: 239px;
    }
    .coin-2 img {
        width: 50px;
    }
    .coin-3 {
        display: none;
    }
    .coin-4 {
        right: 20px;
        bottom: 70px;
    }
    .coin-4 img {
        width: 68px;
    }
    .staking-section {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .staking-block {
        padding: 50px 23px;
        border-radius: 30px;
    }
    .btn-work {
        -moz-column-gap: 3px;
        column-gap: 3px;
        font-size: 12px;
        right: 23px;
        top: 23px;
    }
    .btn-work>img {
        position: relative;
        top: 1px;
        width: 15px;
    }
    .staking-block h2 {
        font-size: 46px;
        line-height: 55px;
        margin-bottom: 2px;
    }
    .staking-block h6 {
        font-size: 15px;
        line-height: 20px;
    }
    .slide-block {
        margin-top: 30px;
    }
    .slider {
        height: 8px;
    }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 22px;
        border-radius: 50%;
        height: 22px;
        background: url(../images/thumb.svg);
        background-size: 22px 22px;
        cursor: pointer;
        border: none;
    }
    .slider::-moz-range-thumb {
        width: 22px;
        border-radius: 50%;
        height: 22px;
        background: url(../images/thumb.svg);
        background-size: 22px 22px;
        cursor: pointer;
        border: none;
    }
    input[type="range"]::-moz-range-progress {
        background: var(--gradient-primary);
        height: 8px;
        border-radius: 8px;
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        .slider {
            overflow: hidden;
        }
        .slider::-webkit-slider-thumb {
            background: none;
            width: 6px;
            height: 8px;
            background-color: #fff;
            box-shadow: -31.25rem 0 0 31.25rem var(--primary), 2px 0 0 0 var(--white);
        }
    }
    .slide-block>div {
        font-size: 12px;
    }
    .input-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 36px;
        margin-top: 36px;
    }
    .input-group {
        width: 100%;
        grid-row-start: 2;
        grid-column-end: 3;
        grid-column-start: 1;
        flex-direction: column;
        row-gap: 11px;
    }
    .staking-block h5 {
        font-size: 14px;
        font-weight: 40;
    }
    .input-group+h5 {
        text-align: right;
    }
    .input {
        font-size: 11px;
        height: 47px;
        padding: 0 40px 0 20px;
        letter-spacing: 1.4px;
    }
    .input-group .btn {
        position: static;
    }
    .input-group .btn-max {
        right: 7px;
        font-size: 12px;
        letter-spacing: 1px;
        padding: 11px;
        top: 4px;
    }
    .footer-bg {
        border-radius: 82px 82px 0 0;
    }
    footer {
        padding: 49px 36px 0
    }
    .referral-block {
        padding-bottom: 45px;
        flex-direction: column-reverse;
    }
    .rewards>img {
        display: none;
    }
    .rewards {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 30px;
    }
    .rewards>h4 {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 3px;
    }
    .rewards>h3 {
        font-size: 36px;
        line-height: 44px;
    }
    .note {
        font-size: 12px;
        line-height: 17px;
        text-align: center;
    }
    .referral-block .input-group {
        width: 100%;
    }
    .referral-block .input {
        text-align: center;
        padding: 0 20px 0 20px;
    }
    .copyright {
        padding: 25px 0;
        text-align: center;
        font-size: 12px;
    }
    footer .section-title {
        text-align: center;
    }
    .backdrop {
        padding: 16px;
    }
    .modal {
        padding: 36px 25px 54px;
        border-radius: 30px;
    }
    .flow-block {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    .flow-unit {
        width: 100%;
        height: 100px;
        padding: 1.563rem;
        border-radius: 20px;
        padding: 15px 20px;
    }
    .flow-unit p {
        font-size: 14px;
        line-height: 16px;
    }
    .flow-unit h3 {
        font-size: 16px;
    }
    .coin-6 {
        display: block;
        position: absolute;
        top: -60px;
        left: -10px;
    }
}